:root {
  --main-title-text: 4.375rem;
  --additional-title-text: 2.8125rem;
  --card-title-text:1.5625rem;
  --line-height-normal: 1.25rem;
  --main-text: 1.125rem;
  --description-text: 0.9375rem;
}