.section {
  height: 800px;
  width: 100%;
  background-image: url('../../../pre-assets/main-bg.png');
  background-size: cover;

  .container {
    display: flex;
    justify-content: space-between;
    height: 100%;

    .title {
      display: flex;
      flex-direction: column;
      font-size: var(--main-title-text);
      color: var(--dark-color-600);
      font-family: var(--ff-secondary);
      font-weight: 400;
      .bold {
        font-weight: 700;
        font-style: italic;
      }
    }

    .photo {
      background-image: url('../../../pre-assets/1.png');
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: contain;
      height: 100%;
      flex-grow: 1;
    }
  }
}
